In [1]:
# If needed (uncomment and run once):
# !pip install requests pandas rapidfuzz python-dateutil

import os, time, json, math
import requests
import pandas as pd
from rapidfuzz import fuzz, process
from dateutil import tz

In [2]:
MONDAY_API_TOKEN = os.getenv("MONDAY_API_TOKEN") or "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjE4MjM0MTAwOSwiYWFpIjoxMSwidWlkIjoyNjg1NTM4NywiaWFkIjoiMjAyMi0wOS0yMlQxMTo0OToxNy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MzAzNTU1NSwicmduIjoidXNlMSJ9.I3wDWG-yICZO3WOmqh-0QxEwXp5hUXzwUi9g5hHREW0"
API_URL = "https://api.monday.com/v2"
API_VERSION = "2025-04"  # supports items_page + typed column_values; good forward-compat

session = requests.Session()
session.headers.update({
    "Authorization": MONDAY_API_TOKEN,
    "Content-Type": "application/json",
    "API-Version": API_VERSION
})

def gql(query: str, variables: dict=None, max_retries: int=5):
    """Minimal helper with gentle retry for 429s."""
    for attempt in range(max_retries):
        resp = session.post(API_URL, json={"query": query, "variables": variables or {}})
        if resp.status_code == 429:
            time.sleep(1.5 * (attempt+1))
            continue
        resp.raise_for_status()
        data = resp.json()
        if "errors" in data:
            raise RuntimeError(data["errors"])
        return data["data"]
    raise RuntimeError("Rate limited repeatedly.")

In [3]:
# We’ll use typed column_value fragments so you can pull normalized fields per column type.
COLUMN_FRAGMENT = """
fragment Cols on ColumnValue {
  id
  text
  type
  ... on NumbersValue { number }
  ... on StatusValue { index text }
  ... on DropdownValue { text }   # <- removed 'ids'
  ... on EmailValue { email text }
  ... on PhoneValue { phone country_short_name text }
  ... on TextValue { text }
  ... on BoardRelationValue { linked_item_ids linked_items { id } }
}
"""

def get_board_columns(board_id: int):
    """Fetch board columns metadata (id, title, type)."""
    q = """
    query($board_id:[ID!]) {
      boards(ids:$board_id) {
        columns { id title type }
      }
    }
    """
    return gql(q, {"board_id":[board_id]})["boards"][0]["columns"]

def items_page_query(board_id: int, limit=500, query_params=None, column_ids=None):
    """
    Read a board page using items_page. Optionally filter with query_params and restrict to column_ids.
    Returns (items, cursor)
    """
    cols_selector = f'column_values(ids: {json.dumps(column_ids)})' if column_ids else "column_values"
    q = f"""
    {COLUMN_FRAGMENT}
    query($board_id:[ID!], $limit:Int!, $query_params: ItemsQuery) {{
      boards(ids:$board_id) {{
        items_page(limit:$limit, query_params:$query_params) {{
          cursor
          items {{
            id
            name
            group {{ id title }}
            {cols_selector} {{ ...Cols }}
          }}
        }}
      }}
    }}
    """
    data = gql(q, {"board_id":[board_id], "limit":limit, "query_params":query_params})
    page = data["boards"][0]["items_page"]
    return page["items"], page["cursor"]

def next_items_page(cursor: str, limit=500, column_ids=None):
    cols_selector = f'column_values(ids: {json.dumps(column_ids)})' if column_ids else "column_values"
    q = f"""
    {COLUMN_FRAGMENT}
    query($cursor:String!, $limit:Int!) {{
      next_items_page(cursor:$cursor, limit:$limit) {{
        cursor
        items {{
          id
          name
          group {{ id title }}
          {cols_selector} {{ ...Cols }}
        }}
      }}
    }}
    """
    data = gql(q, {"cursor": cursor, "limit": limit})
    return data["next_items_page"]["items"], data["next_items_page"]["cursor"]

def fetch_all_items(board_id: int, column_ids=None, query_params=None, per_page=500):
    """Fetch all items using items_page + next_items_page."""
    items, cursor = items_page_query(board_id, limit=per_page, query_params=query_params, column_ids=column_ids)
    all_items = items[:]
    while cursor:
        items, cursor = next_items_page(cursor, limit=per_page, column_ids=column_ids)
        all_items.extend(items)
    return all_items

In [4]:
# Boards
BOARD_PLEDGES = 6704457477         # "Pledges"
BOARD_GIFTS_2025 = 3907842599      # "2025 Gifts"
BOARD_GIFTS_2012_24 = 3782496456   # "2012-24 Gifts"
BOARD_DONORS = 3782435039          # "Donors"

# Pledges board (6704457477) column IDs
P_NAME = "name"  # item name, built-in
P_ID = "id"      # item id
P_COMMITMENT_TYPE = "status__1"
P_TOTAL_COMMITMENT = "numbers__1"
P_REGION = "dropdown2__1"
P_LINKED_GIFTS = "board_relation_mkw4s5jj"
P_EMAIL = "email__1"
P_PHONE = "phone__1"
P_SECOND_PHONE = "dup__of_phone__1"
P_ADDR = "text3__1"
P_CITY = "text1__1"
P_STATE = "dropdown__1"
P_ZIP = "text6__1"

PLEDGE_COLS = [
    P_COMMITMENT_TYPE, P_TOTAL_COMMITMENT, P_REGION, P_LINKED_GIFTS,
    P_EMAIL, P_PHONE, P_SECOND_PHONE, P_ADDR, P_CITY, P_STATE, P_ZIP
]

# 2025 Gifts board (3907842599)
G25_NAME = "name"
G25_ID = "id"
G25_LINKED_DONOR = "connect_boards"
G25_LINKED_SOFT_CREDIT = "connect_boards5"
G25_AMOUNT = "numeric5"
G25_GL = "dropdown"
G25_CLASS = "dropdown66"
G25_PREF = "dropdown8"
G25_SOLIC = "dropdown58"
G25_CHECK = "boolean_mkw54d42"
G25_MAPPED_CLASS = "dropdown_mkvptvde"

GIFTS25_COLS = [G25_LINKED_DONOR, G25_LINKED_SOFT_CREDIT, G25_AMOUNT, G25_GL, G25_CLASS, G25_PREF, G25_SOLIC, G25_CHECK, G25_MAPPED_CLASS]

# 2012-24 Gifts board (3782496456)
GOLD_NAME = "name"
GOLD_ID = "id"
GOLD_LINKED_DONOR = "connect_boards"
GOLD_LINKED_SOFT_CREDIT = "connect_boards5"
GOLD_AMOUNT = "numeric5"
GOLD_GL = "dropdown30"
GOLD_CLASS = "dropdown66"
GOLD_PREF = "dropdown8"
GOLD_SOLIC = "dropdown58"
GOLD_CHECK= "boolean_mkw5kcdd"
GOLD_MAPPED_CLASS = "dropdown_mkwanbpv"

GIFTSOLD_COLS = [GOLD_LINKED_DONOR, GOLD_LINKED_SOFT_CREDIT, GOLD_AMOUNT, GOLD_GL, GOLD_CLASS, GOLD_PREF, GOLD_SOLIC, GOLD_CHECK, GOLD_MAPPED_CLASS]

# Donor board (3782435039)
D_EMAIL = "email"
D_PHONE = "phone"
D_ADDR = "text7"
DONOR_COLS = [D_EMAIL, D_PHONE, D_ADDR]

In [5]:

DATE_COL_OLDGIFTS = "date"

# Build query_params for date > "2024-01-01"
date_filter_params = {
    "rules": [{
        "column_id": DATE_COL_OLDGIFTS,
        "compare_value": ["EXACT", "2024-01-01"],
        "operator": "greater_than"
    }]
}

In [6]:
pledges_raw = fetch_all_items(BOARD_PLEDGES, column_ids=PLEDGE_COLS)
gifts2025_raw = fetch_all_items(BOARD_GIFTS_2025, column_ids=GIFTS25_COLS)
gifts_old_raw = fetch_all_items(BOARD_GIFTS_2012_24, column_ids=GIFTSOLD_COLS, query_params=date_filter_params)

len(pledges_raw), len(gifts2025_raw), len(gifts_old_raw)

(75, 206, 247)

In [7]:
def cv_map(item):
    """Return {col_id: column_value_object}"""
    return {cv["id"]: cv for cv in item.get("column_values", [])}

def get_number(cv, default=0.0):
    try:
        return float(cv.get("number")) if cv and cv.get("number") is not None else default
    except:
        return default

def get_text(cv):
    return (cv or {}).get("text")

def get_dropdown_text(cv):
    return (cv or {}).get("text")  # labels concatenated by comma if multiple

def get_status_text(cv):
    return (cv or {}).get("text")

def get_board_relation_ids(cv):
    # BoardRelationValue: use linked_item_ids (preferred per docs)
    ids = (cv or {}).get("linked_item_ids") or []
    # Ensure ints
    return [int(x) for x in ids]

def get_connect_single_id(cv):
    # Some “connect boards” columns may link multiple; you said single for donor/soft-credit
    ids = (cv or {}).get("linked_item_ids") or []
    return int(ids[0]) if ids else None

def get_email(cv):
    return (cv or {}).get("email") or (cv or {}).get("text")

def get_phone(cv):
    return (cv or {}).get("phone") or (cv or {}).get("text")

def get_checkbox(cv):
    return (cv or {}).get("checked") or (cv or {}).get("text")

In [8]:
def pledges_to_df(items):
    rows = []
    for it in items:
        cv = cv_map(it)
        rows.append({
            "pledge_id": int(it["id"]),
            "name": it["name"],
            "group_title": (it.get("group") or {}).get("title"),
            "commitment_type": get_status_text(cv.get(P_COMMITMENT_TYPE)),
            "total_commitment": get_number(cv.get(P_TOTAL_COMMITMENT), 0.0),
            "region": get_dropdown_text(cv.get(P_REGION)),
            "linked_gift_ids": get_board_relation_ids(cv.get(P_LINKED_GIFTS)),
            "email": get_email(cv.get(P_EMAIL)),
            "phone": get_phone(cv.get(P_PHONE)),
            "second_phone": get_phone(cv.get(P_SECOND_PHONE)),
            "addr_lines": get_text(cv.get(P_ADDR)),
            "city": get_text(cv.get(P_CITY)),
            "state": get_dropdown_text(cv.get(P_STATE)),
            "zip": get_text(cv.get(P_ZIP)),
        })
    return pd.DataFrame(rows)

def gifts_to_df(items, is_2025=True):
    rows = []
    for it in items:
        cv = cv_map(it)
        linked_donor = get_connect_single_id(cv.get(G25_LINKED_DONOR if is_2025 else GOLD_LINKED_DONOR))
        linked_soft = get_connect_single_id(cv.get(G25_LINKED_SOFT_CREDIT if is_2025 else GOLD_LINKED_SOFT_CREDIT))
        amount = get_number(cv.get(G25_AMOUNT if is_2025 else GOLD_AMOUNT), 0.0)
        gl = get_dropdown_text(cv.get(G25_GL if is_2025 else GOLD_GL))
        cls = get_dropdown_text(cv.get(G25_CLASS if is_2025 else GOLD_CLASS))
        pref = get_dropdown_text(cv.get(G25_PREF if is_2025 else GOLD_PREF))
        solic = get_dropdown_text(cv.get(G25_SOLIC if is_2025 else GOLD_SOLIC))
        check = get_checkbox(cv.get(G25_CHECK if is_2025 else GOLD_CHECK))
        mapped_class = get_dropdown_text(cv.get(G25_MAPPED_CLASS if is_2025 else GOLD_MAPPED_CLASS))
        rows.append({
            "gift_id": int(it["id"]),
            "name": it["name"],
            "group_title": (it.get("group") or {}).get("title"),  # "2024"/"2025"/etc.
            "linked_donor_id": linked_donor,
            "linked_soft_credit_id": linked_soft,
            "amount": amount,
            "gl_account": gl,
            "class": cls,
            "gift_preference": pref,
            "solicitation": solic,
            "checkbox": check,
            "mapped_class": mapped_class,
            "board": "2025 Gifts" if is_2025 else "2012-24 Gifts",
        })
    return pd.DataFrame(rows)

pledges_df = pledges_to_df(pledges_raw)
gifts25_df = gifts_to_df(gifts2025_raw, is_2025=True)
gifts_old_df = gifts_to_df(gifts_old_raw, is_2025=False)

pledges_df.head(2), gifts25_df.head(2), gifts_old_df.head(2)

(     pledge_id         name group_title commitment_type  total_commitment  \
 0  18034938862   Dale White        2025        One-time            1000.0
 1  10041926407  Greg Duncan        2025        One-time            1000.0

    region linked_gift_ids                  email       phone second_phone  \
 0  Africa   [18029769185]
 1  Africa   [18029759111]  gregwduncan@gmail.com  7577077143

          addr_lines   city state    zip
 0                           None
 1  3412 Foxglove Dr  Toano    VA  23164  ,
        gift_id                                   name group_title  \
 0  18029721993  Lee McCormick; 09/19/2025; $15,000.00  2025 Gifts
 1  18029759111     Greg Duncan; 09/19/2025; $1,500.00  2025 Gifts

    linked_donor_id  linked_soft_credit_id   amount  \
 0       7714398684                    NaN  15000.0
 1       8376272325                    NaN   1500.0

                           gl_account           class gift_preference  \
 0  4002 - Contributions Unrestricted      Operations            None
 1    4040 - Contributions Restricted  Global General            None

            solicitation checkbox              mapped_class       board
 0                  None                       Unrestricted  2025 Gifts
 1  May 2025 1000 Cities           Restricted - Global Work  2025 Gifts  ,
       gift_id                                  name group_title  \
 0  7764945107  Anonymous/Unknown; 10/30/2024; $6.88  2024 Gifts
 1  7737556092  Faithly, Inc.; 10/25/2024; $5,000.00  2024 Gifts

    linked_donor_id  linked_soft_credit_id   amount  \
 0       3821558506                    NaN     6.88
 1       7737524480                    NaN  5000.00

                         gl_account                class  \
 0  4040 - Contributions Restricted      Movement Cities
 1              4305 - Sponsors/MOU  LEAD.NYC Initiative

            gift_preference solicitation checkbox  mapped_class          board
 0  Movement Day Publishing         None           Unrestricted  2012-24 Gifts
 1         Movement Day NYC         None           Unrestricted  2012-24 Gifts  )

In [9]:
PAGE_LIMIT = 500  # fixed page size

def _fetch_board_items(board_id):
    q = f"""
    {COLUMN_FRAGMENT}
    query($board_id:[ID!], $cursor:String, $limit:Int!) {{
      boards(ids:$board_id) {{
        items_page(cursor:$cursor, limit:$limit) {{
          cursor
          items {{
            id
            name
            column_values(ids: {json.dumps(DONOR_COLS)}) {{ ...Cols }}
          }}
        }}
      }}
    }}
    """
    items = []
    cursor = None
    while True:
        variables = {"board_id": [board_id], "cursor": cursor, "limit": PAGE_LIMIT}
        res = session.post(API_URL, json={"query": q, "variables": variables}, headers=None)
        data = res.json()
        boards = (data.get("data") or {}).get("boards") or []
        page = boards[0]["items_page"] if boards else {"items": [], "cursor": None}
        items.extend(page.get("items") or [])
        cursor = page.get("cursor")
        if not cursor:
            break
    return items

def fetch_donors_map(candidate_donor_ids):
    # Pull all items from the donors board
    all_items = _fetch_board_items(BOARD_DONORS)

    # Build lookup by integer ID
    by_id = {}
    for it in all_items:
        try:
            by_id[int(it["id"])] = it
        except Exception:
            pass

    # Build output for candidates that exist on the board
    out = {}
    seen = set()
    for x in candidate_donor_ids:
        if x is None:
            continue
        try:
            xid = int(x)
        except Exception:
            continue
        if xid in seen:
            continue
        seen.add(xid)
        it = by_id.get(xid)
        if not it:
            continue
        cv = {c["id"]: c for c in it.get("column_values", [])}
        out[str(it["id"])] = {
            "donor_name": it.get("name"),
            "email": get_email(cv.get(D_EMAIL)),
            "phone": get_phone(cv.get(D_PHONE)),
            "addr_lines": get_text(cv.get(D_ADDR)),
        }
    return out

# Build donor id set (soft-credit preferred; if soft is missing, use donor)
candidate_donor_ids = set()
for df in (gifts25_df, gifts_old_df):
    for _, r in df.iterrows():
        sc = r.get("linked_soft_credit_id")
        dn = r.get("linked_donor_id")
        if pd.notna(sc):
            candidate_donor_ids.add(int(sc))
        elif pd.notna(dn):
            candidate_donor_ids.add(int(dn))

donor_map = fetch_donors_map(candidate_donor_ids)

print("Candidate donor IDs collected:", len(candidate_donor_ids))
print("Valid donor IDs fetched   :", len(donor_map))
print("Sample donors:")
for k, v in list(donor_map.items())[:5]:
    print(k, "→", v)

Candidate donor IDs collected: 205
Valid donor IDs fetched   : 205
Sample donors:
5932017664 → {'donor_name': 'Ingrid Peart', 'email': 'peartingrid@gmail.com', 'phone': '', 'addr_lines': '159 Lorraine Ave'}
3821634563 → {'donor_name': 'Promod Haque', 'email': 'Promod.haque@nvp.com', 'phone': '16503024445', 'addr_lines': '13780 Saratoga Ave'}
6013120005 → {'donor_name': 'Cornerstone Trust', 'email': '', 'phone': '', 'addr_lines': '55 Campau Ave NW, Ste 501'}
3821558278 → {'donor_name': 'Paul VandeBunte', 'email': '', 'phone': '', 'addr_lines': '687 Lugers Rd'}
7496161290 → {'donor_name': 'Procida Development Group', 'email': 'accounting@procidacompanies.com', 'phone': '', 'addr_lines': '456 E 173rd St'}

In [19]:
all_gifts_df = pd.concat([gifts25_df, gifts_old_df], ignore_index=True)
gift_amount_by_id = dict(zip(all_gifts_df["gift_id"], all_gifts_df["amount"]))
gift_gl_by_id = dict(zip(all_gifts_df["gift_id"], all_gifts_df["gl_account"]))
gift_group_by_id = dict(zip(all_gifts_df["gift_id"], all_gifts_df["group_title"]))
gift_mapped_class_by_id = dict(zip(all_gifts_df["gift_id"], all_gifts_df["mapped_class"]))

def summarize_region_gifts(pledges_df):
    rows = []
    for _, p in pledges_df.iterrows():
        region = p["region"]
        g_ids = p.get("linked_gift_ids") or []
        for gid in g_ids:
            amt = float(gift_amount_by_id.get(gid, 0.0))
            grp = (gift_group_by_id.get(gid) or "").strip()
            a24 = amt if grp == "2024 Gifts" else 0.0
            a25 = amt if grp == "2025 Gifts" else 0.0
            mapped_class = (gift_mapped_class_by_id.get(gid) or "").strip()

            rows.append({
                "region": region,
                "mapped_class": mapped_class,
                "amount": amt,
                "additions_2024": a24,
                "additions_2025": a25,
            })

    cols = ["region", "mapped_class", "amount", "additions_2024", "additions_2025"]
    detail = pd.DataFrame(rows)
    if detail.empty:
        return pd.DataFrame(columns=cols)

    # 1) Base grain: one row per (region, mapped_class)
    by_region_class = (
        detail
        .groupby(["region", "mapped_class"], dropna=False, as_index=False)[["amount","additions_2024","additions_2025"]]
        .sum()
    )

    # 2) Per-region total (mapped_class="Total")
    per_region_total = (
        by_region_class
        .groupby("region", as_index=False)[["amount","additions_2024","additions_2025"]]
        .sum()
        .assign(mapped_class="Total")
    )

    # 3) "Total" region broken out by mapped_class
    total_region_by_class = (
        by_region_class
        .groupby("mapped_class", as_index=False)[["amount","additions_2024","additions_2025"]]
        .sum()
        .assign(region="Total")
    )[cols]

    # 4) Single grand total row (region="Total", mapped_class="Total")
    grand_total = (
        by_region_class[["amount","additions_2024","additions_2025"]]
        .sum()
        .to_frame().T
        .assign(region="Total", mapped_class="Total")
    )[cols]

    # Combine all parts
    final_df = pd.concat(
        [by_region_class, per_region_total, total_region_by_class, grand_total],
        ignore_index=True
    )[cols]

    # Order mapped_class so "Total" appears last within each region
    mapped_classes = [mc for mc in final_df["mapped_class"].dropna().unique() if mc != "Total"]
    mapped_classes.sort()
    mapped_classes.append("Total")
    final_df["mapped_class"] = pd.Categorical(final_df["mapped_class"], categories=mapped_classes, ordered=True)

    # Push the "Total" region to the bottom; stable sort by region then mapped_class
    final_df["_is_total_region"] = final_df["region"].eq("Total")
    final_df = (
        final_df
        .sort_values(["region", "mapped_class"], kind="stable")
        .sort_values(["_is_total_region"], kind="stable")
        .drop(columns="_is_total_region")
        .reset_index(drop=True)
    )

    return final_df


# === usage ===
region_rev_breakdown = summarize_region_gifts(pledges_df)
region_rev_breakdown.groupby("region", group_keys=True).head(25)

,region,mapped_class,amount,additions_2024,additions_2025
0,Africa,Restricted - Global Work,14750.0,0.0,14750.0
1,Africa,Restricted - MD Scholars,40250.0,24850.0,15400.0
2,Africa,Unrestricted,22500.0,10650.0,11850.0
3,Africa,Total,77500.0,35500.0,42000.0
4,Central Asia,Restricted - MD Scholars,1750.0,1750.0,0.0
5,Central Asia,Unrestricted,750.0,750.0,0.0
6,Central Asia,Total,2500.0,2500.0,0.0
7,Greatest Need,Restricted - Global Work,7650.0,0.0,7650.0
8,Greatest Need,Restricted - MD Scholars,83493.0,49491.0,34002.0
9,Greatest Need,Unrestricted,42860.0,22760.0,20100.0
10,Greatest Need,Total,134003.0,72251.0,61752.0
11,Latin America,Restricted - MD Scholars,4200.0,4200.0,0.0
12,Latin America,Unrestricted,1800.0,1800.0,0.0
13,Latin America,Total,6000.0,6000.0,0.0
14,Middle East,Restricted - MD Scholars,21000.0,21000.0,0.0
15,Middle East,Unrestricted,9000.0,9000.0,0.0
16,Middle East,Total,30000.0,30000.0,0.0
17,South Asia,Restricted - Global Work,19333.0,0.0,19333.0
18,South Asia,Restricted - MD Scholars,104535.0,80035.0,24500.0
19,South Asia,Unrestricted,43515.0,30015.0,13500.0
20,South Asia,Total,167383.0,110050.0,57333.0
21,Total,Restricted - Global Work,41733.0,0.0,41733.0
22,Total,Restricted - MD Scholars,255228.0,181326.0,73902.0
23,Total,Unrestricted,120425.0,74975.0,45450.0
24,Total,Total,417386.0,256301.0,161085.0

In [16]:
def compute_commitments(df: pd.DataFrame):
    def is_3yr(s): return bool(s) and ("3-year" in s.lower() or "3 year" in s.lower())
    def is_one_time(s): return str(s).strip().lower() == "one-time"

    rows = []
    for _, r in df.iterrows():
        group = (r["group_title"] or "").strip()
        ct = (r["commitment_type"] or "").strip()
        total = float(r["total_commitment"] or 0.0)

        part = (total/3.0) if is_3yr(ct) else total

        c2024 = part if group == "2024" else 0.0
        # 2025: zero out one-time that belong to group "2024"
        if is_one_time(ct) and group == "2024":
            c2025 = 0.0
        else:
            c2025 = part

        rows.append({
            "region": r["region"],
            "commitment_2024": c2024,
            "commitment_2025": c2025,
            "commitment_total": total
        })
    out = pd.DataFrame(rows)
    if out.empty:
        return out

    agg = out.groupby("region", dropna=False, as_index=False).sum(numeric_only=True)

    # 70/30 split
    for col in ["commitment_2024", "commitment_2025", "commitment_total"]:
        agg[f"{col}_restricted"] = agg[col] * 0.70
        agg[f"{col}_unrestricted"] = agg[col] * 0.30
    return agg

region_commitments = compute_commitments(pledges_df)
region_commitments.head(15)

,region,commitment_2024,commitment_2025,commitment_total,commitment_2024_restricted,commitment_2024_unrestricted,commitment_2025_restricted,commitment_2025_unrestricted,commitment_total_restricted,commitment_total_unrestricted
0,Africa,38500.0,51500.0,110000.0,26950.0,11550.0,36050.0,15450.0,77000.0,33000.0
1,Central Asia,2500.0,0.0,2500.0,1750.0,750.0,0.0,0.0,1750.0,750.0
2,Greatest Need,83768.0,84650.0,214418.0,58637.6,25130.4,59255.0,25395.0,150092.6,64325.4
3,Latin America,6100.0,5000.0,16100.0,4270.0,1830.0,3500.0,1500.0,11270.0,4830.0
4,Middle East,30000.0,20000.0,65000.0,21000.0,9000.0,14000.0,6000.0,45500.0,19500.0
5,New Regions,0.0,5000.0,5000.0,0.0,0.0,3500.0,1500.0,3500.0,1500.0
6,South Asia,115050.0,66333.0,221383.0,80535.0,34515.0,46433.1,19899.9,154968.1,66414.9

In [14]:
# Quick lookup for gift amount by id AND by group/year
gift_group_by_id = dict(zip(all_gifts_df["gift_id"], all_gifts_df["group_title"]))

def balances_by_region(pledges_df):
    def is_3yr(s): return bool(s) and ("3-year" in s.lower() or "3 year" in s.lower())
    def is_one_time(s): return str(s).strip().lower() == "one-time"

    rows = []
    for _, p in pledges_df.iterrows():
        group = (p["group_title"] or "").strip()
        ct = (p["commitment_type"] or "").strip()
        total = float(p["total_commitment"] or 0.0)
        part = (total/3.0) if is_3yr(ct) else total

        # Commitments
        c2024 = part if group == "2024" else 0.0
        c2025 = 0.0 if (is_one_time(ct) and group == "2024") else part
        ctotal = total

        # Gifts by labeled group
        g2024 = g2025 = gsum = 0.0
        for gid in p["linked_gift_ids"] or []:
            amt = gift_amount_by_id.get(gid, 0.0)
            grp = (gift_group_by_id.get(gid) or "").strip()
            gsum += amt
            if grp == "2024 Gifts":
                g2024 += amt
            elif grp == "2025 Gifts":
                g2025 += amt

        # First, apply 2024 gifts to 2024 commitment
        rem_2024_after_2024gifts = max(c2024 - g2024, 0.0)

        # Spill 2025 gifts into 2024 up to remaining 2024 balance
        spill_to_2024 = min(g2025, rem_2024_after_2024gifts)
        g2025_after_spill = g2025 - spill_to_2024

        # Final balances
        b2024 = max(c2024 - (g2024 + spill_to_2024), 0.0)
        b2025 = max(c2025 - g2025_after_spill, 0.0)
        btotal = max(ctotal - gsum, 0.0)  # total balance unaffected by spill logic

        rows.append({
            "region": p["region"],
            "balance_2024": b2024,
            "balance_2025": b2025,
            "balance_total": btotal
        })

    out = pd.DataFrame(rows)
    if out.empty:
        return out

    agg = out.groupby("region", dropna=False, as_index=False).sum(numeric_only=True)
    for col in ["balance_2024", "balance_2025", "balance_total"]:
        agg[f"{col}_restricted"] = agg[col] * 0.70
        agg[f"{col}_unrestricted"] = agg[col] * 0.30
    return agg

region_balances = balances_by_region(pledges_df)
region_balances.head(10)

,region,balance_2024,balance_2025,balance_total,balance_2024_restricted,balance_2024_unrestricted,balance_2025_restricted,balance_2025_unrestricted,balance_total_restricted,balance_total_unrestricted
0,Africa,1000.0,12000.0,33000.0,700.0,300.0,8400.0,3600.0,23100.0,9900.0
1,Central Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Greatest Need,1000.0,39000.0,86000.0,700.0,300.0,27300.0,11700.0,60200.0,25800.0
3,Latin America,100.0,5000.0,10100.0,70.0,30.0,3500.0,1500.0,7070.0,3030.0
4,Middle East,0.0,20000.0,35000.0,0.0,0.0,14000.0,6000.0,24500.0,10500.0
5,New Regions,0.0,5000.0,5000.0,0.0,0.0,3500.0,1500.0,3500.0,1500.0
6,South Asia,0.0,16000.0,56000.0,0.0,0.0,11200.0,4800.0,39200.0,16800.0

In [15]:
def pledge_balances_detail(pledges_df):
    """Return pledge-level balances for 2024, 2025, allocating 2025 gifts to 2024 first."""
    details = []
    def is_3yr(s): return bool(s) and ("3-year" in s.lower() or "3 year" in s.lower())
    def is_one_time(s): return str(s).strip().lower() == "one-time"

    for _, p in pledges_df.iterrows():
        group = (p["group_title"] or "").strip()
        ct = (p["commitment_type"] or "").strip()
        total = float(p["total_commitment"] or 0.0)
        part = (total/3.0) if is_3yr(ct) else total

        # Commitments
        c2024 = part if group == "2024" else 0.0
        c2025 = 0.0 if (is_one_time(ct) and group == "2024") else part

        # Gifts by labeled group
        g2024 = g2025 = 0.0
        for gid in p["linked_gift_ids"] or []:
            amt = gift_amount_by_id.get(gid, 0.0)
            grp = (gift_group_by_id.get(gid) or "").strip()
            if grp == "2024 Gifts":
                g2024 += amt
            elif grp == "2025 Gifts":
                g2025 += amt

        # First, apply 2024 gifts to 2024 commitment
        rem_2024_after_2024gifts = max(c2024 - g2024, 0.0)

        # Then, let 2025 gifts spill into 2024 up to that remaining 2024 balance
        spill_to_2024 = min(g2025, rem_2024_after_2024gifts)
        g2025_after_spill = g2025 - spill_to_2024

        # Final balances
        b2024 = max(c2024 - (g2024 + spill_to_2024), 0.0)
        b2025 = max(c2025 - g2025_after_spill, 0.0)

        details.append({
            "pledge_group": p["group_title"],
            "name": p["name"],
            "region": p["region"],
            "email": p["email"],
            "phone": p["phone"] or p["second_phone"],
            "address": ", ".join(filter(None, [p["addr_lines"], p["city"], p["state"], p["zip"]])),
            "balance_2024": b2024,
            "balance_2025": b2025
        })

    return pd.DataFrame(details)


pledge_detail_bal = pledge_balances_detail(pledges_df)
unfulfilled_2024 = pledge_detail_bal[pledge_detail_bal["balance_2024"] > 0].sort_values(["pledge_group", "balance_2024"], ascending=[False, False])
unfulfilled_2025 = pledge_detail_bal[pledge_detail_bal["balance_2025"] > 0].sort_values(["pledge_group", "balance_2025"], ascending=[False, False])

In [16]:
linked_gift_ids_all = set()
for ids in pledges_df["linked_gift_ids"]:
    if isinstance(ids, list):
        linked_gift_ids_all.update(ids)

unlinked_gifts = all_gifts_df[~all_gifts_df['gift_id'].isin(linked_gift_ids_all) & ~all_gifts_df['checkbox'].astype(str).str.lower().eq('v')].copy()

# Build pledge quick-lookup structures
pledge_contacts = pledges_df[[
    "pledge_id","name","email","phone","second_phone","addr_lines","city","state","zip","region"
]].copy()

def normalize_phone(s):
    if not s: return ""
    return "".join(ch for ch in str(s) if ch.isdigit())

def plausible_match(gift_row, pledge_row, donor_info):
    # 1) name fuzzy
    name_score = fuzz.token_set_ratio(pledge_row["name"] or "", donor_info.get("donor_name") or gift_row["name"] or "")
    # 2) email exact (casefold)
    em_g = (donor_info.get("email") or "").casefold()
    em_p = (pledge_row.get("email") or "").casefold()
    email_match = (em_g and em_p and em_g == em_p)
    # 3) phone exact digits-only
    ph_g = normalize_phone(donor_info.get("phone"))
    ph_p = normalize_phone(pledge_row.get("phone") or pledge_row.get("second_phone"))
    phone_match = (ph_g and ph_p and ph_g == ph_p)
    # 4) address substring overlap (very light heuristic)
    addr_g = (donor_info.get("addr_lines") or "").casefold()
    addr_p = (pledge_row.get("addr_lines") or "").casefold()
    address_match = bool(addr_g and addr_p and (addr_g in addr_p or addr_p in addr_g))

    strong = email_match or phone_match or (name_score >= 90)
    weak = address_match or (name_score >= 80)

    return strong, weak, {
        "name_score": name_score,
        "email_match": email_match,
        "phone_match": phone_match,
        "address_match": address_match
    }

potential_matches = []

for _, g in unlinked_gifts.iterrows():
    # choose donor record: soft-credit first
    did = g["linked_soft_credit_id"] or g["linked_donor_id"]
    drec = donor_map.get(did, {"donor_name": None, "email": None, "phone": None, "addr_lines": None})

    # Try to find best pledge
    best = None
    best_key = -1
    for _, p in pledge_contacts.iterrows():
        strong, weak, det = plausible_match(g, p, drec)
        score = (100 if strong else 0) + (50 if weak else 0) + det["name_score"]
        if score > best_key:
            best_key = score
            best = (p, strong, weak, det)

    if best and (best[1] or best[2]):  # keep strong or weak candidates
        p, strong, weak, det = best
        potential_matches.append({
            "gift_board": g["board"],
            "gift_id": g["gift_id"],
            "gift_name": g["name"],
            "gift_amount": g["amount"],
            "gift_gl": g["gl_account"],
            "gift_group": g["group_title"],
            "checked": g["checkbox"],
            "donor_name": drec.get("donor_name"),
            "donor_email": drec.get("email"),
            "donor_phone": drec.get("phone"),
            "donor_address": drec.get("addr_lines"),
            "matched_pledge_id": p["pledge_id"],
            "matched_pledge_name": p["name"],
            "matched_pledge_region": p["region"],
            "match_name_score": det["name_score"],
            "match_email": det["email_match"],
            "match_phone": det["phone_match"],
            "match_address": det["address_match"],
            "match_strength": "STRONG" if (det["email_match"] or det["phone_match"] or det["name_score"]>=90) else "WEAK"
        })

potential_matches_df = pd.DataFrame(potential_matches)

In [17]:
# A) Region revenue breakdown from linked gifts
region_rev_breakdown.sort_values(["region","bucket"])

,region,mapped_class,bucket,amount,additions_2024,additions_2025
0,Africa,Restricted - Global Work,Total,14750.0,0.0,14750.0
1,Africa,Restricted - MD Scholars,Total,50900.0,35500.0,15400.0
2,Africa,Unrestricted,Total,11850.0,0.0,11850.0
14,Africa,Restricted - MD Scholars,Unrestricted,10650.0,10650.0,0.0
15,Africa,Unrestricted,Unrestricted,11850.0,0.0,11850.0
12,Africa,Restricted - Global Work,Restricted,14750.0,0.0,14750.0
13,Africa,Restricted - MD Scholars,Restricted,40250.0,24850.0,15400.0
3,Central Asia,Restricted - MD Scholars,Total,2500.0,2500.0,0.0
17,Central Asia,Restricted - MD Scholars,Unrestricted,750.0,750.0,0.0
16,Central Asia,Restricted - MD Scholars,Restricted,1750.0,1750.0,0.0
4,Greatest Need,Restricted - Global Work,Total,7650.0,0.0,7650.0
5,Greatest Need,Restricted - MD Scholars,Total,106253.0,72251.0,34002.0
6,Greatest Need,Unrestricted,Total,20100.0,0.0,20100.0
20,Greatest Need,Restricted - MD Scholars,Unrestricted,22760.0,22760.0,0.0
21,Greatest Need,Unrestricted,Unrestricted,20100.0,0.0,20100.0
18,Greatest Need,Restricted - Global Work,Restricted,7650.0,0.0,7650.0
19,Greatest Need,Restricted - MD Scholars,Restricted,83493.0,49491.0,34002.0
7,Latin America,Restricted - MD Scholars,Total,6000.0,6000.0,0.0
23,Latin America,Restricted - MD Scholars,Unrestricted,1800.0,1800.0,0.0
22,Latin America,Restricted - MD Scholars,Restricted,4200.0,4200.0,0.0
8,Middle East,Restricted - MD Scholars,Total,30000.0,30000.0,0.0
25,Middle East,Restricted - MD Scholars,Unrestricted,9000.0,9000.0,0.0
24,Middle East,Restricted - MD Scholars,Restricted,21000.0,21000.0,0.0
9,South Asia,Restricted - Global Work,Total,19333.0,0.0,19333.0
10,South Asia,Restricted - MD Scholars,Total,134550.0,110050.0,24500.0
11,South Asia,Unrestricted,Total,13500.0,0.0,13500.0
28,South Asia,Restricted - MD Scholars,Unrestricted,30015.0,30015.0,0.0
29,South Asia,Unrestricted,Unrestricted,13500.0,0.0,13500.0
26,South Asia,Restricted - Global Work,Restricted,19333.0,0.0,19333.0
27,South Asia,Restricted - MD Scholars,Restricted,104535.0,80035.0,24500.0
34,Total,Total,Total,834772.0,512602.0,322170.0
32,Total,Restricted - MD Scholars,Unrestricted,74975.0,74975.0,0.0
33,Total,Unrestricted,Unrestricted,45450.0,0.0,45450.0
30,Total,Restricted - Global Work,Restricted,41733.0,0.0,41733.0
31,Total,Restricted - MD Scholars,Restricted,255228.0,181326.0,73902.0

In [18]:
# B) Region commitments (2024/2025/Total) with 70/30 split
region_commitments.sort_values("region")

,region,commitment_2024,commitment_2025,commitment_total,commitment_2024_restricted,commitment_2024_unrestricted,commitment_2025_restricted,commitment_2025_unrestricted,commitment_total_restricted,commitment_total_unrestricted
0,Africa,38500.0,51500.0,110000.0,26950.0,11550.0,36050.0,15450.0,77000.0,33000.0
1,Central Asia,2500.0,0.0,2500.0,1750.0,750.0,0.0,0.0,1750.0,750.0
2,Greatest Need,83768.0,84650.0,214418.0,58637.6,25130.4,59255.0,25395.0,150092.6,64325.4
3,Latin America,6100.0,5000.0,16100.0,4270.0,1830.0,3500.0,1500.0,11270.0,4830.0
4,Middle East,30000.0,20000.0,65000.0,21000.0,9000.0,14000.0,6000.0,45500.0,19500.0
5,New Regions,0.0,5000.0,5000.0,0.0,0.0,3500.0,1500.0,3500.0,1500.0
6,South Asia,115050.0,66333.0,221383.0,80535.0,34515.0,46433.1,19899.9,154968.1,66414.9

In [19]:
# C) Region balances (2024/2025/Total) with 70/30 split
region_balances.sort_values("region")

,region,balance_2024,balance_2025,balance_total,balance_2024_restricted,balance_2024_unrestricted,balance_2025_restricted,balance_2025_unrestricted,balance_total_restricted,balance_total_unrestricted
0,Africa,1000.0,12000.0,33000.0,700.0,300.0,8400.0,3600.0,23100.0,9900.0
1,Central Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Greatest Need,1000.0,39000.0,86000.0,700.0,300.0,27300.0,11700.0,60200.0,25800.0
3,Latin America,100.0,5000.0,10100.0,70.0,30.0,3500.0,1500.0,7070.0,3030.0
4,Middle East,0.0,20000.0,35000.0,0.0,0.0,14000.0,6000.0,24500.0,10500.0
5,New Regions,0.0,5000.0,5000.0,0.0,0.0,3500.0,1500.0,3500.0,1500.0
6,South Asia,0.0,16000.0,56000.0,0.0,0.0,11200.0,4800.0,39200.0,16800.0

In [20]:
# D) 2024 Unfulfilled + 2025 Unfulfilled
unfulfilled_2024_display = unfulfilled_2024[["pledge_group","name","region","email","phone","address","balance_2024"]]
unfulfilled_2024_display

,pledge_group,name,region,email,phone,address,balance_2024
45,2024,James Miles,Greatest Need,jmm101041@gmail.com,,"PO Box 1558, Boca Grande, FL, 33921",1000.0
58,2024,R.C. Hugh Nelson,Africa,Bishoprcnel@cogef.org,17189384953,"653 Park Ln, Valley Stream, NY, 11581",1000.0
53,2024,Lenny Hernandez,Latin America,sojorider@gmail.com,19143186138,"1753 Long Hill Rd, Guilford, CT, 06437",100.0

In [21]:
unfulfilled_2025_display = unfulfilled_2025[["pledge_group","name","region","email","phone","address","balance_2025"]]
unfulfilled_2025_display

,pledge_group,name,region,email,phone,address,balance_2025
20,2025,Randy & Julie Schneider,Greatest Need,,5742746460,"68986 Eagle Cove Ct, Edwardsburg, MI, 49112",10000.0
5,2025,Ejaz Nabie (Faith Assembly),New Regions,pastor@myfaithcenter,9174882104,"120-13 101 Ave, Richmond Hill, NY, 11419",5000.0
8,2025,Jim Runyan,Greatest Need,jrunyan@crossroads.com,2147966674,"Address unclear, City unclear, TX",5000.0
9,2025,Charlie & Anne Mauzy,Africa,mauzy68986@gmail.com,15024105879,"8946 Featherbell Blvd, Prospect, KY, 40059",5000.0
11,2025,Josh & Jaclyn Miles,Greatest Need,jmiles@movement.org,,,5000.0
12,2025,Kris & Carol Krake,South Asia,carolkrake@icloud.com,5028216519,"17006 Shakes Creek Dr., Fisherville, KY, 40023",5000.0
19,2025,Mullery & Cacheta Jean-Pierre,Africa,mulleryjp@gmail.com,7182881794,"195 Park Place, Brooklyn, NY, 11238",5000.0
21,2025,Sharon Cushing,Middle East,scushing@movement.org,,"210 Broadmoor Dr., Willow Street, PA, 17584",5000.0
22,2025,Todd Taranto,Greatest Need,toddtaranto@mac.com,6847287298,"143 Pikes Farm Way, Westborough, MA, 01581",5000.0
7,2025,R. C. Hugh Nelson,Greatest Need,bishoprcnel@cogef.org,7189384953,"653 Park Lane, Valley Stream, NY, 11581",3000.0
4,2025,Victor Nicholson,Africa,nicholsonv32@gmail.com,,"6029 Northway Forest Drive, Charlotte, NC, 28214",2000.0
6,2025,Fred & Debbie Provencher,South Asia,fprovencher@cornerstonenj.org,12013214126,"122 Horizon Terr, Hawthorne, NJ, 07506",1000.0
32,2024,Chris Watkins,Middle East,chriswatkins@cohatch.com,16148863629,"2550 Brixton Rd, Columbus, OH, 43221",15000.0
41,2024,Fernando Cabrera,Latin America,dr.fernandolcabrera@gmail.com,13474492665,"58 Sixth St, Pelham, NY, 10803",5000.0
47,2024,Jeff Huston,South Asia,,,,5000.0
52,2024,Lee McCormick,Greatest Need,lzm0010@gmail.com,18325415761,"615 Seaview St, Laguna Beach, CA, 92651",5000.0
60,2024,Richard Nichols,Greatest Need,richard.l.nichols.jr@gmail.com,17048984768,"3712 Sedgewood Cir, Charlotte, NC, 28211",5000.0
63,2024,Robin John,South Asia,rjohn@eventideinvestments.com,16176863303,,5000.0
45,2024,James Miles,Greatest Need,jmm101041@gmail.com,,"PO Box 1558, Boca Grande, FL, 33921",1000.0

In [22]:
# E) Potential misidentified gifts
potential_matches_df

,gift_board,gift_id,gift_name,gift_amount,gift_gl,gift_group,checked,donor_name,donor_email,donor_phone,donor_address,matched_pledge_id,matched_pledge_name,matched_pledge_region,match_name_score,match_email,match_phone,match_address,match_strength
0,2025 Gifts,9267079423,"Richard Nichols Jr.; 05/23/2025; $5,000.00",5000.0,4002 - Contributions Unrestricted,2025 Gifts,,None,None,None,None,6704539449,Richard Nichols,Greatest Need,100.000000,,,False,STRONG
1,2025 Gifts,8578067459,"McCormick Family Foundation; 01/10/2025; $15,0...",15000.0,4002 - Contributions Unrestricted,2025 Gifts,,None,None,None,None,6704535982,Lee McCormick,Greatest Need,81.818182,,,False,WEAK
2,2012-24 Gifts,7271653763,"McCormick Family Foundation; 08/20/2024; $15,0...",15000.0,4002 - Contributions Unrestricted,2024 Gifts,,None,None,None,None,6704535982,Lee McCormick,Greatest Need,81.818182,,,False,WEAK